{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Hello, world</h1>
                <p>This made by GoLang</p>
                <p><a href="/about">Check more about me</a></p>
            </div>
        </div>
    </div>
{{end}}